pkgbase = poof-bin
	pkgdesc = Magic manager of pre-built software (Prebuilt Binary)
	pkgver = 0.6.0
	pkgrel = 1
	url = https://github.com/pirafrank/poof
	arch = x86_64
	arch = aarch64
	license = MIT
	provides = poof
	conflicts = poof
	source_x86_64 = https://github.com/pirafrank/poof/releases/download/v0.6.0/poof-0.6.0-x86_64-unknown-linux-gnu.tar.gz
	sha256sums_x86_64 = 11ba94a2a6e879f1b531efacb10f6519192a46b77cd01f81898d6793d76231a2
	source_aarch64 = https://github.com/pirafrank/poof/releases/download/v0.6.0/poof-0.6.0-aarch64-unknown-linux-gnu.tar.gz
	sha256sums_aarch64 = 813f0f4444e632782b7c36bcc7b2f3e69d7eb73dbfd191407ec3e44570f4dc97

pkgname = poof-bin
